[data-bs-theme="dark"] {
	.bg-mode {
		background-color: #282828;
	}

	.bg-main {
		background-image: none;
		background-color: #191919;
	}

	.bg-card {
		background-color: #323232;
	}

	.bg-alert {
		background-color: #373737;
	}

	.bg-submit {
		background-color: #e4fad2;
	}

	#mode-switch {
		background-color: #3f3f3f;
	}
}
