/* Global */
button {
	padding: 0;
	font-weight: bold;
	/* font-family: RedRoseBold, sans-serif !important; */
	background-color: transparent;
	border: 0;
}

.bg-mode {
	background-color: #f9f9f9;
}

.bg-main {
	background-image: linear-gradient(to right, #ecffc4, #cef6c9);
}

.bg-card {
	background-color: white;
}

.bg-alert {
	background-color: black;
}

.bg-grey {
	background-color: #fafafa;
}

.bg-grey-badge {
	background-color: #ececec;
}

.bg-submit {
	background-color: black;
}

.cursor-pointer {
	cursor: pointer !important;
}

.menu {
	transition: all 0.2s ease-in-out;
}

.menu-body {
	padding-top: 0;
	padding-bottom: 0;
	opacity: 0;
	max-height: 0;
	transition: all 0.5s ease-in-out;
}

.fs-xs {
	font-size: 10px;
}

.fs-sm {
	font-size: 12px;
}

.alert-dlg {
	max-height: 600px;
}

.form-icon-group {
	position: relative;
}

.form-icon-group .form-control {
	padding-right: 5rem;
}

.form-icon-group .form-end-icon {
	position: absolute;
	top: 50%;
	transform: translate(50%, -65%);
	width: 25px;
	height: 25px;
	border-radius: 0.5rem;
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-icon-group .form-end-icon:nth-child(1) {
	right: 16px;
}

.form-icon-group .form-end-icon:nth-child(2) {
	right: 49px;
}

/* Sidebar */
.btn-menu {
	opacity: 0.5;
	transition: opacity 0.3s ease-in-out;
}

.btn-menu:hover,
.btn-menu.active {
	opacity: 1;
}

/* Sticky Menu */
#sticky-menu {
	position: fixed;
	top: 1rem;
	margin-left: 130px;
}

/* Color Mode Switch */
#mode-switch-wrapper {
	position: fixed;
	top: 2rem;
	right: 3rem;
	cursor: pointer;
}

#mode-switch {
	width: 42px;
	height: 42px;
	top: 50%;
	transform: translateY(-50%);
	right: 51px;
	background-color: #bfbfbf;
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
}

#mode-switch.active {
	right: 3px;
}

/* Main Section */
#two-columns {
	width: 1435px;
}

#left-section {
	width: 736px;
}

#right-section {
	width: 635px;
}

/* Animation */
.anim-sm {
	transition: all 0.2s ease-in-out;
}

.anim {
	transition: all 0.3s ease-in-out;
}

.anim-lg {
	transition: all 0.6s ease-in-out;
}

.anim-xl {
	transition: all 0.9s ease-in-out;
}

.anim-delay-sm {
	transition-delay: 0.2s;
}

.anim-delay {
	transition-delay: 0.3s;
}

.anim-delay-lg {
	transition-delay: 0.5s;
}

.anim-delay-xl {
	transition-delay: 0.7s;
}

.anim-delay-xxl {
	transition-delay: 1s;
}

.anim-hover-scale:hover {
	transform: scale(1.08);
}

.anim-hover-up:hover {
	transform: translateY(-5px);
}

.anim-hover-underline {
	border-bottom: 1px solid transparent;
}

.anim-hover-underline:hover {
	border-bottom: 1px solid #73cc67;
}
