/* Global */
@font-face {
	font-family: RedRose;
	src: url("../fonts/RedRose-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: RedRoseBold;
	src: url("../fonts/RedRose-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

* {
	font-family: Red-Rose, sans-serif;
}

a {
	text-decoration: none !important;
	color: inherit !important;
	font-weight: bold;
	font-family: RedRoseBold, sans-serif !important;
}

button {
	padding: 0;
	font-weight: bold;
	/* font-family: RedRoseBold, sans-serif !important; */
	background-color: transparent;
	border: 0;
}

.bg-main {
	background-image: linear-gradient(to right, #ecffc4, #cef6c9);
}

.cursor-pointer {
	cursor: pointer !important;
}

.card-thunder {
	position: relative;
}

.card-thunder::after {
	z-index: 999;
	position: absolute;
	content: "";
	background-image: url("../images/thunder.svg");
	width: 289px;
	height: 333px;
	bottom: -130px;
	left: -180px;
}

.form-icon-group {
	position: relative;
}

.form-icon-group .form-control {
	padding-left: 5rem !important;
}

.form-icon-group .form-start-icon {
	position: absolute;
	top: 50%;
	left: 2.5rem;
	transform: translate(-50%, -50%);
	width: 45px;
	height: 45px;
	border-radius: 0.5rem;
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Animation */
.anim-sm {
	transition: all 0.2s ease-in-out;
}

.anim {
	transition: all 0.3s ease-in-out;
}

.anim-lg {
	transition: all 0.6s ease-in-out;
}

.anim-xl {
	transition: all 0.9s ease-in-out;
}

.anim-delay-sm {
	transition-delay: 0.2s;
}

.anim-delay {
	transition-delay: 0.3s;
}

.anim-delay-lg {
	transition-delay: 0.5s;
}

.anim-delay-xl {
	transition-delay: 0.7s;
}

.anim-delay-xxl {
	transition-delay: 1s;
}

.anim-hover-scale:hover {
	transform: scale(1.08);
}

.anim-hover-up:hover {
	transform: translateY(-5px);
}

.anim-hover-underline {
	border-bottom: 1px solid transparent;
}

.anim-hover-underline:hover {
	border-bottom: 1px solid #73cc67;
}

/* Begin Animation */
.anim-scroll-opacity {
	opacity: 0;
}

.anim-scroll-opacity.active {
	opacity: 1;
}

.anim-scroll-up {
	transform: translateY(15px);
}

.anim-scroll-up.active {
	transform: translateY(0);
}

.anim-scroll-left {
	transform: translateX(30px);
}

.anim-scroll-left.active {
	transform: translateX(0);
}

.anim-scroll-right {
	transform: translateX(-30px);
}

.anim-scroll-right.active {
	transform: translateX(0);
}

/* FAQ Section */
.dropdown-body {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}

.dropdown-body.active {
	opacity: 1;
}
